main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 175px 95px 150px 120px 120px 95px;
    margin: 20px 50px 75px 50px;
    gap: 30px;
}

#black {
    background-image: url(https://gridbyexample.com/img/inflicted.png);
    color: whitesmoke;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border: 5px gray solid;
    border-radius: 5px;
}

#retard {
    grid-column: 4 / 5;
    background-color: lightgray;
    border: 5px gray solid;
    grid-row: 1 / 2;
}

#PURPLE {
    background-color: purple;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#examples {
    background-color: lightgray;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

#patterns {
    background-color: lightgray;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

#resources {
    background-color: lightgray;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
} 

#CSSlayout {
    background-color: lightgray;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

#questions {
    background-color: lightgray;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

#about {
    background-color: lightgray;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

#news {
    background-color: lightgray;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 4 / 6;
    grid-row: 6 / 7;
}

#gridbugs {
    background-color: lightgray;
    border: 5px gray solid;
    border-radius: 5px;
    grid-column: 1 / 6;
    grid-row: 7 / 8;
}

