#japan {
    border: solid black 2px;
    background-color: white;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#japan-red {
    background-color: red;
    grid-column: 2 ;
    grid-row: 2 ;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#surender {
    border: solid black 2px;
    background-color: white;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#italy-green {
    background-color: green;
    grid-column: 1;
    grid-row: 1 / 4;
}
#italy-red {
    background-color: red;
    grid-column: 3;
    grid-row: 1 / 4;
}
#germany {
    border: solid black 2px;
    background-color: red;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#german-black {
    background-color: black;
    grid-column: 1 / 4;
    grid-row: 1;
}
#german-yellow {
    background-color: yellow;
    grid-column: 1 / 4;
    grid-row: 3;
}
#belgum {
    border: solid black 2px;
    background-color: red;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#belgum-black {
    background-color: black;
    grid-column: 1;
    grid-row: 1 / 4;
}
#belgum-yellow {
    background-color: yellow;
    grid-column: 3;
    grid-row: 1 / 4;
}
#thighland {
    border: solid black 2px;
    background-color: blue;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#thighland-red {
    background-color: red;
    grid-column: 1 / 7;
    grid-row: 1;
}
#thighland-red2 {
    background-color: red;
    grid-column: 1 / 7;
    grid-row: 6;
}
#thighland-white {
    background-color: white;
    grid-column: 1 / 7;
    grid-row: 2;
}
#thighland-white2 {
    background-color: white;
    grid-column: 1 / 7;
    grid-row: 5;
}
#swizpherland {
    border: solid black 2px;
    background-color: red;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
}
#swizpherland-white1 {
    background-color: white;
    grid-column: 2 / 6;
    grid-row: 3 / 5;
}
#swizpherland-white2 {
    background-color: white;
    grid-column: 3;
    grid-row: 2;
}
#swizpherland-white3 {
    background-color: white;
    grid-column: 4;
    grid-row: 2;
}
#swizpherland-white4 {
    background-color: white;
    grid-column: 3;
    grid-row: 5;
}
#swizpherland-white5 {
    background-color: white;
    grid-column: 4;
    grid-row: 5;
}
#arab-bois {
    border: solid black 2px;
    background-color: red;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#arab-black {
    background-color: black;
    grid-column: 2 / 6;
    grid-row: 3;
}
#arab-white {
    background-color: white;
    grid-column: 2 / 6;
    grid-row: 2;
}
#arab-gren {
    background-color: green;
    grid-column: 2 / 6;
    grid-row: 1;
}
#swooden {
    border: solid black 2px;
    background-color: yellow;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
} 
#swooden-blue {
    background-color: blue;
    grid-column: 1 / 10;
    grid-row: 3;
}
#swooden-blue-2 {
    background-color: blue;
    grid-column: 3 / 4 ;
    grid-row: 1 / 6;
}
